.no-print {
    display: none!important;
}

.print {
    display: block!important;
}

#master-header,
#master-footer {
    position: relative;
    height: auto;
}

#master-detail {
    padding-top: 0;
    padding-bottom: 0;
}

.footnote,
.page-footnotes {
    display: none!important;
}

.nav-container,
.webbar,
.dimmer,
.instruction {
    display: none;
}

#nojs-notice,
#help-guide,
#toc,
#modal,
#good-bye {
    display: none!important;
}

.logo-print {
    display: block;
}

#cover {
    display: none!important;
}

.page {
    page-break-before: always;
}
.page:first-child {
    page-break-before: avoid;
}
.page-wrapper {
    display: block!important;
    max-width: 100%;
    min-height: 100%;
    overflow: auto;
    text-align: left; 
    margin: 0;
    padding: 0;
    position: relative;
    border-width: 0!important;
}

.right-img {
    max-width: 30%;
}

